<div>
    <form action="/?route=register/update&id=<?=$model->id?>" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" value="<?=$model->name?>" name="name">

        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" value="<?=$model->email?>" name="email">

        <br>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>