<div>
    <form action="/?route=register/store" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" name="name">

        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" name="email">

        <label for="password">Pass</label>
        <input type="password" id="password" class="form-control" name="password">

        <br>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>