<div class="alert-success">
     <?=$status?>
</div>

<div class="table-active">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
            <?php while ($row = $books->fetch_assoc()): ?>
                <tr>
                    <td>
                        <?=$row['id']?>
                    </td>
                    <td>
                        <?=$row['title']?>
                    </td>
                    <td>
                        <?=$row['author']?>
                    </td>
                    <td>
                        <?=$row['year']?>
                    </td>
                </tr>
            <?php endwhile;?>
        </tbody>
    </table>
</div>
